.button{
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: transparent;
}

.button:hover{
  text-decoration: underline;
}

.button:active { 
  background-color: #545050;  
}

.search-form__submit-button{
  align-self: flex-end;
  width: 194px;
  padding-block: 5px;
  cursor: pointer;
}

.more-button{
  width: 100%;
  padding-block: 5px;
  cursor: pointer;
}