.title{
  margin-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent{
  color: #545050;
}

.content__card-link{
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: underline; 
  text-underline-offset: 6px; 
}

.content__card-link_current{
  background-color: #545050;
}

.content__video-card{
  display: flex;
  align-items: flex-start;
  width: 390px; 
}

.content__video-card:active{
  background-color: #545050;
}

.content__video-card-description-container{
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-title{
  min-height: 35px;
  margin-bottom: 6px;
  overflow: hidden;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}

.content__video-card-description{
  display: -webkit-box;
  min-height: 21px;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16,2px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail{
  min-width: 194px;
  height: 103px;
  object-fit: cover; 
  object-position: center;
}