.content{
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result{
  width: 711px;
}

.result__video-container{
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content__list-container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
  padding: 3px;
}

.content__list{
  display: grid;
  gap: 30px;
}